Backend/env/*
App/*.iml
App/.gradle
App/local.properties
App/.idea/workspace.xml
App/.idea/libraries
App/.DS_Store
Apop/build
App/captures
App/.externalNativeBuild

*.pyc
Backend/tmp
BetterBackend/env/*
BetterBackend/bin/*
BetterBackend/lib/*
BetterBackend/include/*
.Python
pip-selfcheck.json
*.3gp
*.mp4
